{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="card home-card">
    <h1>Welcome {{ user.full_name }}!</h1>

    <p class="subtitle">To logout click the button below.</p>

    <div class="home-actions">
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>

        <form method="post" action="{% url 'deactivate' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Deactivate my account</button>
        </form>
    </div>
</div>

{% endblock %}
