{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="card home-card">
    <h1>Welcome {{ user.full_name }}!</h1>

    <p>
        To logout click
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="logout-link">here</button>
        </form>
    </p>

    <form method="post" action="{% url 'deactivate' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Deactivate my account</button>
    </form>
</div>

{% endblock %}
